/* ----- inport de Fontes ----- */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");

/* ----- fontes e cores ----- */
:root {
  --font-primaria: "Montserrat", sans-serif;
  --font-secundaria: "Open Sans", sans-serif;
  --fonte-nome: "Dancing Script", cursive;
  --banner-img-black: #f9f9f9 url(../src/svg/banner-white.svg) no-repeat top;
  --sobre-img-black: #f9f9f9 url(../src/svg/background-white.svg) no-repeat top fixed;
  --skills-img-black: #f9f9f9 url(../src/svg/backgroud-skills-white.svg) no-repeat top;
  --projetos-img-black: #f9f9f9 url(../src/svg/background-projetos.svg) no-repeat top fixed;
  --contatos-img-black: #f9f9f9 url(../src/svg/background-contato.svg) no-repeat top;
  --rodape-img-black: #f9f9f9 url(../src/svg/background-rodape.svg) center;
  --input-text-color-gree: green;
  --input-text-color-red: red;
  --text-color-preta: #000;
  --text-color-dourada: rgb(218, 165, 32);
  --cor-de-borda-dourada: rgb(218, 165, 32);
  --cor-de-fundo-branca: #f9f9f9;
  --cor-de-fundo-cinza: #bebebe;
  --cor-de-div-branca: #ffffff;
  --cor-de-div-cinza: #d9d9d9;
  --cor-de-div-preta: rgba(0, 0, 0, 0.8);
  --cor-de-borda-dourada-transparente: rgba(218, 165, 32, 0.4);
}

/* ----- Base ----- */

* {
  box-sizing: border-box;
}

body {
  transition: 0.2s linear;
  background: var(--cor-de-fundo-branca);
}

h2,
p {
  color: var(--text-color-preta);
}

.titulos {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
  justify-content: center;
}

.setor {
  align-items: center;
  height: 100vh;
  font-family: var(--font-primaria);
  padding: 0 1vw;
  border-bottom: 4px solid var(--cor-de-borda-dourada-transparente);
}

.setor2 {
  height: 100vh;
  font-family: var(--font-primaria);
  border-bottom: 4px solid var(--cor-de-borda-dourada-transparente);
}

.ancoras:hover {
  filter: invert(50%) sepia(50%) saturate(554%) hue-rotate(355deg) brightness(100%) contrast(105%);
}

/* ----- navegação ----- */

header {
  z-index: 50;
  position: fixed;
  width: 100%;
}

.navegacao {
  background: var(--cor-de-fundo-branca);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--cor-de-borda-dourada-transparente);
  padding: 0 2rem;
}

.navegacao__nome {
  font-family: var(--fonte-nome);
  font-weight: 900;
  font-size: 2rem;
  width: 20rem;
}

.navegacao__lista {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.navegacao__lista__btn{
  margin: 0 .5rem;
}

.navegacao__thema {
  width: 20rem;
  display: flex;
  justify-content: space-around;
}

.btn__nav {
  font-family: var(--font-secundaria);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color-preta);
}

/* ----- Thema ----- */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}

/* ----- Banner ----- */

.banner {
  background: var(--banner-img-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.banner__imagem__foto{
  height: 50vh;
}

.banner__texto {
  z-index: 1;
  margin-top: -80px;
  display: flex;
  width: 70vw;
  height: 10rem;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-weight: bold;
}

span {
  color: var(--text-color-dourada);
  font-weight: 700;
}

.textoAnimado p::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ----- Sobre ----- */

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--sobre-img-black);
  justify-content: flex-end;
}

.sobre__imagem {
  height: 20vh;
  width: 20vh;
  display: flex;
  align-items: center;
  background: url(../src/img/perfil-img2.png) no-repeat center;
}

.sobre__texto {
  height: 60%;
  width: 70vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: large;
  font-weight: 300;
}

.sobre__texto__lista li {
  margin: 1rem 0;
}

/* ----- Skills ----- */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--skills-img-black);
  justify-content: center;
}

.skills__titulos h2 {
  padding: 1rem;
}

.skills__conteudo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.skills__saibaMais {
  width: fit-content;
  height: fit-content;
  padding: 3rem;
}

.skills__saibaMais ul {
  display: flex;
  margin: 1rem 0;
}

.skills__saibaMais ul li {
  margin-right: 1rem;
}

.skills__saibaMais ul li a {
  text-decoration: none;
}

.skills__itens {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skills_item {
  margin: 1rem;
  display: flex;
  width: 20vw;
  height: 20vh;
  border-radius: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills_item h2 {
  margin-bottom: 0.5rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  display: block;
}

.icone__linkedin {
  background: url(../src/svg/linkedin.svg) no-repeat;
}

.icone__github {
  background: url(../src/svg/github.svg) no-repeat;
}

.icone__pdf {
  background: url(../src/svg/pdf.svg) no-repeat;
}

/* ----- projetos ----- */

.projetos {
  background: var(--projetos-img-black);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}

.projetos__titulo {
  margin: 1rem 0;
}

.slides {
  display: flex;
  width: 500vw;
}

.slide {
  display: flex;
  margin-bottom: 3rem;
  width: 100vw;
  transition: 0.2s linear;
  flex-direction: column;
  align-items: center;
}

.slide a {
  transition: 0.2s linear;
}

.slide img:hover {
  border: 4px solid var(--cor-de-borda-dourada);
  transform: scale(1.1);
}

.slide h2 {
  z-index: 5;
  margin-bottom: 3rem;
  font-family: var(--font-primaria);
  font-weight: bold;
}

.slides img {
  height: 60vh;
  border: 4px solid var(--cor-de-borda-dourada-transparente);
  transition: 0.2s linear;
  background: var(--cor-de-div-branca);
}

.slides__nav {
  margin-top: -1rem;
  width: 100%;
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.bar {
  width: 70px;
  height: 17px;
  cursor: pointer;
  margin: 1rem;
  border-radius: 10px;
  background: var(--cor-de-div-branca);
  border: 4px solid var(--cor-de-borda-dourada);
  transition: 0.2s linear;
}

.componentAnimado,
.skills_item {
  border: 4px solid var(--cor-de-borda-dourada);
  border-radius: 71px;
  background-color: var(--cor-de-fundo-branca);
  box-shadow: -1px -1px 5px var(--cor-de-div-cinza), 1px 1px 5px var(--cor-de-div-branca);
  transition: 0.2s linear;
  cursor: default;
}

.bar:hover,
.componentAnimado:hover,
.skills_item:hover {
  transform: scale(1.2);
  border-radius: 62px;
  box-shadow: 10px 10px 30px var(--cor-de-div-cinza), -10px -10px 30px var(--cor-de-div-branca);
}

.slides__input {
  display: none;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}
#slide3:checked ~ .s1 {
  margin-left: -40%;
}
#slide4:checked ~ .s1 {
  margin-left: -60%;
}
#slide5:checked ~ .s1 {
  margin-left: -80%;
}

/* ----- Contatos ----- */

.contatos {
  background: var(--contatos-img-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contatos__conteudo {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contatos__conteudo__esquerda {
  width: 40%;
  height: fit-content;
  background-color: var(--cor-de-div-preta);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--cor-de-div-branca);
}

.contatos__conteudo__esquerda fieldset {
  border: 4px solid var(--cor-de-borda-dourada);
  padding: 0.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contatos__conteudo__esquerda legend {
  border: 1px solid var(--cor-de-borda-dourada);
  padding: 1rem;
  text-align: center;
  background-color: var(--cor-de-borda-dourada);
  border-radius: 1rem;
}

.inputBox {
  position: relative;
  top: -15px;
  display: flex;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid var(--cor-de-div-branca);
  outline: none;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  resize: none;
}

#texto {
  margin-top: 0;
  padding-top: 0;
}

.inputUser:focus ~ .labelInput,
.inputUser:hover ~ .labelInput {
  top: 0px;
  font-size: small;
  color: var(--text-color-dourada);
}

.inputUser:valid ~ .labelInput {
  top: 0px;
  font-size: small;
  color: var(--input-text-color-gree);
}

.inputUser:invalid ~ .labelInput {
  color: var(--text-color-dourada);
}

.labelInput {
  position: absolute;
  top: 20px;
  left: 0;
  transition: 0.2s linear;
  pointer-events: none;
}

.contatos__conteudo__direita {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contatos__itens ul {
  position: relative;
  display: flex;
  margin: 2rem;
}

.contatos__itens ul li {
  margin: 0 2rem;
}

.contatos__itens ul li a {
  text-decoration: none;
  color: var(--text-color-preta);
}

.whatsapp__icon {
  background: url(../src/svg/whatsapp.svg) no-repeat center;
}

.linkedin__icon {
  background: url(../src/svg/linkedin.svg) no-repeat center;
}

.email__icon {
  background: url(../src/svg/email.svg) no-repeat center;
}

.enviar {
  margin-top: 15px;
  font-family: var(--font-primaria);
  font-weight: bold;
  cursor: pointer;
  border: 4px solid var(--cor-de-borda-dourada);
  background: var(--cor-de-div-branca);
  color: var(--text-color-dourada);
}

.enviar:hover {
  background: var(--cor-de-borda-dourada-transparente);
}

.linkHide {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.linkHide img {
  border: 4px solid var(--cor-de-borda-dourada);
  width: 240px;
  height: 40vh;
  margin-top: 2rem;
  padding: 1rem;
  background: white;
  position: relative;
  bottom: 0px;
}

.hide {
  opacity: 0;
  transition: 0.2s linear;
}

.show {
  transition: 0.2s linear;
  opacity: 1;
}

/* ----- Rodape ----- */

.setor__rodape {
  width: 100%;
  height: 4rem;
  background: var(--rodape-img-black);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.setor__rodape p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-de-div-branca);
}
.coracao_icon {
  height: fit-content;
  width: fit-content;
  width: 2rem;
  height: 2rem;
}
.componentRodape {
  margin: 0.5rem;
  padding: 0 0.5rem;
  border: 1px solid var(--cor-de-borda-dourada);
  border-radius: 75px;
  cursor: default;
}
